# Ignorar archivos y carpetas sensibles
config/privado/
# Ignorar tests confidenciales
**/tests/*confidencial*
**/tests/*privado*
# Ignorar archivo de variables de entorno
.env
# Ignorar archivos compilados de Python
*.pyc
