# Requisitos mínimos para evitar compilación en Windows
# Si falla la instalación de algún paquete, prueba con la versión anterior sugerida en el comentario.

PyQt6
pyodbc
reportlab
qrcode
pandas
matplotlib
pytest
pillow
python-dateutil
pytz
tzdata
openpyxl
colorama
ttkthemes
fpdf
python-dotenv